[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-storage-blob = "*"
requests = "*"
apscheduler = "*"
azure-keyvault-secrets = "*"
azure-identity = "*"
redis = "*"

[dev-packages]
isort = "*"
black = "==21.10b0"
flake8 = "*"
ptpython = "*"

[requires]
python_version = "3.9"
